.discount {
    height: 800px;
    width: 100%;
    background: #f2f4f7;
}

.sofa {
    height: 300px;
    width: 350px;
}

.sofa-row {
    width: 1000px;
    margin: auto;
}

.fa-heart{
    position: relative;
    left: 210px;
    bottom: 50px;
}