.discount {
    height: 800px;
    width: 100%;
    background: #f2f4f7;
}

.sofa {
    height: 300px;
    width: 350px;
}

.sofa-row {
    width: 1000px;
    margin: auto;
}

.five-per {
    position: relative;
    left: 10px;
    bottom: 53px;
    border-radius: 15px;
    color: white;
    height: 20px;
    width: 55px;
    font-size: 10px;
    background-color: blue;
    border: none;
}
.fa-heart{
    position: relative;
    left: 100px;
    bottom: 53px;
}