.best-sales{
    height:1100px;
    width:100%;
    background: #f2f4f7;
}
.sofa{
    height:300px;
    width:250px;
    border:1px solid rgba(0, 0, 0,0.1);
    border-radius: 5px;

}
.double-sofa-row1,.double-sofa-row2,.single-sofa-row1{
    width:1000px;
    margin:auto;
}
