.single-product{
    height:260px;
    margin-top:70px;
}
.product{
    /* margin-top:70px; */
    width:600px;
    /* height:180px; */
    padding:10px;
    height:160px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    /* line-height:60px; */
}
.price{
    margin-top:30px;
}
.summary{
    height:160px;
    width:300px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
hr{
    opacity:0.1;
}
button{
    margin-top:40px;
    /* width:30px; */
    padding:3px 8px;
    border:1px solid rgba(252, 247, 247,0.4);
}
i{
    font-size: 20px;
}