@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");

.container-fluid {
    width: 95%;
    margin: auto;
    height:550px
}

/* .container-fluid img {
    width: 100%;
    height: auto;
} */

